@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: var(--DM-Sans);
}

:root {

    /* Colors */

    --Purple-100: hsl(254, 88%, 90%);
    --Purple-500: hsl(256, 67%, 59%);

    --Yellow-100: hsl(31, 66%, 93%);
    --Yellow-500: hsl(39, 100%, 71%);

    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 7%);

    --DM-Sans: "DM Sans", sans-serif;
}

body {
    /* CENTRALIZADO */
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    background-color: rgb(255, 211, 231);
    border-radius: 10px;
    padding: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(6, 120px);
    gap: 1.5rem;
    max-width: 1200px;
    width: 100%;
    
    grid-template-areas: 
        "box-1 box-2 box-2 box-3"
        "box-1 box-2 box-2 box-3"
        "box-1 box-6 box-7 box-3"
        "box-5 box-6 box-7 box-3"
        "box-5 box-4 box-8 box-8"
        "box-5 box-4 box-8 box-8";
}

/* Mudando a cor de cada box individualmente */
.box:nth-child(1) { grid-area: box-1; background-color: var(--Yellow-100); }
.box:nth-child(2) { grid-area: box-2; background-color: var(--Purple-500); }
.box:nth-child(3) { grid-area: box-3; background-color: var(--Purple-100); }
.box:nth-child(4) { grid-area: box-4; background-color: var(--White); }
.box:nth-child(5) { grid-area: box-5; background-color: var(--Yellow-500); }
.box:nth-child(6) { grid-area: box-6; background-color: var(--White); }
.box:nth-child(7) { grid-area: box-7; background-color: var(--Yellow-500); }
.box:nth-child(8) { grid-area: box-8; background-color: var(--Purple-500); }

.box {
    box-shadow: #00000014 0px 0px 11px 0px;
    padding: 2rem;
}

/* img {
    margin: 1rem 0rem;
} */

h1{
    color: var(--White);
    font-size: 50px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    padding: 0rem 0rem 1rem 0rem;
}

h2 {
    font-size: 35px;
    font-weight: 500;
    line-height: 30px;
}

p {
    font-size: 17px;
}

.italic {
    font-style: italic;
}

.box-1 span{
    color: var(--Purple-500);
}

.box-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.box-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--White);
}

.color-yellow {
    color: var(--Yellow-500);
}

.box-3 {
    position: relative;
    overflow: hidden;
}

.box-3 h2 {
    font-size: 30px;
    /* margin: 0 0 1rem 0; */
}

.box-3 img {
    margin: 1rem 0px 1rem 0;
}

.box-4 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.box-4 h2 {
    font-size: 60px;
}

.box-5{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.box-6{
    overflow: hidden;
    position: relative;
    font-size: 10px;
}

.box-6 h2 {
    font-size: 28px;
    margin: 1rem 0rem 0rem 0rem;
}

.box-7 {
    position: relative; 
    overflow: hidden;
}

.box-7 img {
    top: 1rem;
    position: relative;
}

.box-8 {
    display: flex;
    align-items: center;
    color: var(--White);
}


@media (max-width: 768px) {    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: repeat(8, 120px);
        gap: 1.5rem;
        max-width: 1200px;
        width: 100%;
        
        grid-template-areas: 
            "box-2 box-2 box-2"
            "box-2 box-2 box-2"
            "box-6 box-7 box-3"
            "box-6 box-7 box-3"
            "box-4 box-7 box-3"
            "box-4 box-8 box-3"
            "box-1 box-8 box-5"
            "box-1 box-8 box-5 "
            ;
    }

    .box-8 {
        display: flex;
        flex-direction: column;
    }

    .box-5 img {
        width: 200px;
    }

    .box-5 {
        display: flex;
        gap: 1rem;

        position: relative;
        overflow: hidden;
    }
}

@media (max-width: 480px) {

    body {
        padding: 3rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 350px);
        grid-template-rows: auto;

        max-width: 100%;

        grid-template-areas:        
            "box-2"
            "box-6"
            "box-7"
            "box-3"
            "box-8"
            "box-4"
            "box-1"
            "box-5";
    };

}

@media (max-width: 375px) {

    body {
        padding: 3rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 330px);
        /* grid-template-rows: repeat(8, 350px); */
        grid-template-rows: auto;

        max-width: 100%;

        grid-template-areas:        
            "box-2"
            "box-6"
            "box-7"
            "box-3"
            "box-8"
            "box-4"
            "box-1"
            "box-5";
    };
    
    .box-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-7 img {
        top: 38px;
    }

    .box-3 {
        text-align: center;
    }

    .box-3 img {
        width: 100%;
        margin: 1rem 0px 1rem 0;
    }

    .box-5 {
        gap: 1rem;
        padding: 20px;
    }

    .box-8 {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .box-4 img{
        width: 75%; 
    }

    .box-1 img {
        width: 75%;
    }

    .box:nth-child(6) {
        padding: 1rem;
    }

    /* .box {
        padding: 1rem;
    } */

    h1 {
        font-size: 48px;
    }

    h2 {
       font-size: 26px;
    }
}


